* {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

#galeria {
  max-width: 600px;
  margin: 0 auto;
}

#galeria ul {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  margin-bottom: 10px;
}